/* Parent Container */
.main-dashboard-layout {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    min-height: 100vh;
}

/* Left section for other graphs */
.graphs-section {
    flex: 2.6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    gap: 1rem;
    min-width: 400px;
    padding: 1rem 1rem;

}

/* Right section for gauges */
.dashboard-container {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 1rem;
    row-gap: 0.5rem;
    padding: 1rem 1rem;
}


.dashboard-container > * {
    width: 100%;
    height: 100%;
    min-height: 300px; 
}

.graphs-section > * {
    width: 100%;
    height: 100%;
    min-height: 300px;
    grid-column: span 2;
}

#gauge {
    background-image: url('../assets/starCluster.jpg');
    border-radius: 8px; /*rounds edges*/
    overflow: hidden; 
    transition: transform 0.2s;
    cursor: pointer;
    padding: 0.4cm;
    height: 18rem;
    max-height: 18rem;
    display: flex; 
    flex-direction: column;
}

#lineGraph {
    background-image: url('../assets/starCluster.jpg');
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    padding: 0.4cm; 
    color: white;
    height: 18rem;
    max-height: 18rem;
    display: flex; 
    flex-direction: column;
}

#gauge:hover, #lineGraph:hover {
    transform: translateY(-4px);
    transition: transform 0.2s;
}

#gauge h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: white;
}

#lineGraph h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
}

.dashboard-container p {
    font-size: 1rem;
    padding-left: 1.5rem;
    color: black;
    padding-top: 1rem;
}

.dashboard-container .edit {
    font-size: 1.8rem;
    color: black;
    margin-top: 0;
    padding-top: 0rem;
    padding-left: 14rem;
}

