#nav {
    visibility: visible;
}

body {
    background-color: #f5f5f5;
}

main {
    padding: 2rem;
}

.recent-launches {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.launches-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 3rem;
    padding: 2rem 3rem;
}