html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav {
    display: none;
}

.center {
    background-image: linear-gradient(#33196B, #6432D1);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    width: 30%;
    max-width: 300px;
}

input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
}

#username {
    padding: 10px 30px;
    font-style: italic;
    font-weight: 150;
    font-size: 12px;
}

#password {
    padding: 10px 20px;
    font-weight: 600;
}

.forgot-password {
    margin-top: -5px;
    padding: 0px 100px;
    font-size: 12px;
    font-family: var(--sds-typography-body-font-family);
    font-weight: 600;
    line-height: 22.4px;
    color: rgba(255, 255, 255, 0.337);
    text-align: right;
    width: 100%;
    max-width: 400px;
}

input::placeholder {
    text-align: center;
    font-family: var(--sds-typography-body-font-family);
    line-height: 22.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

a {
    width: 40%;
    margin-left: auto;
    margin-right: 18%;
}
.login-button {
    width: 100%;
    max-width: 400px;
    padding: 8px 0;
    margin-top: 20px;
    border-radius: 20px;
    background-size: 400% 100%;     
    background-position: left center;
    background:linear-gradient(to right, #33196B 0%,#6432D1 25%, #FFFFFF 50%, #6432D1 75%,#33196B 100%);
    color: #727272;
    font-family: var(--sds-typography-body-font-family);
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background-position 2s ease-in-out, color 0.6s ease;
}
.login-button:hover {
    border: 2px solid #000000;
    color: #000000;
    border-radius: 20px;
    background-position: right center;
}

.error-message {
    color: #FF6961;
    font-family: var(--sds-typography-body-font-family);
    font-weight: 600;
    margin-top: 10px;
}
