/* Global Styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#root {
   display: flex;
   flex-direction: column;
}

main {
   width: 100vw;
}

body {
   font-family: Arial, sans-serif; /* ask aaron for default font he uses */
   line-height: 1.6; 
   background-color: #f4f4f9; 
   color: #333;
   margin: 0;
   padding: 0; 
}



/* NAVBAR STYLE */
#nav {
   position: sticky; /* sticks to the top during scroll */
   top: 0;
   width: 100%; /* full width  */
   display: flex;
   justify-content: space-between; /* even spread */
   align-items: center; /* centers items  */
   background-color: #ffffff;
   padding: 1rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
   z-index: 1000; 
} 

#nav img {
   height: 70px; /* logo size */
   margin: 0 1rem; /* space around the logo */
}

#nav button {
   background: none; 
   border: none;
   cursor: pointer;
   font-size: 1rem;
   padding: 0.5rem 1rem;
   transition: background-color 0.3s ease; /* hover effect */
}

#nav button:hover {
   background-color: #f0f0f0; 
   border-radius: 4px; 
}

/* General Container Style */
/* container for launches  -- look into space with grid or space between */
.launches-container {
   max-width: 1200px;
   margin: 0 auto; /* centers container */
   padding: 1rem; /* padding */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-items: center;
   justify-content: center;

}
